button {
    margin:0 auto;
    margin-top: 5%;
    margin-left: 5%;
    width: 75%;
    height: 75px;
}

#central {
    height: 250px;
    width: 400px;
    margin-left: 5%;
}

.buttons {
    width: 20%;
}

.global {

}

.text1 {
    margin-top: 2%;
    width: 45%;
}

.text2 {
    width: 20%;
}

.text3 {
    width: 10%;
}


.mini {
    height: 5%;
}
